@define-color text #303030;
@define-color selected #1071db;
@define-color hover alpha(@selected,.6);
@define-color background-sec #e4e7ef;
@define-color background-alt #A0A0A0;
@define-color urgent #f63c3a;
@define-color background #e4e7ef;
@define-color foreground #202020;


window#osd {
  background: alpha(@background, .7);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 1px solid #ffffff;
  border-radius: 24px;
  margin: 16px;
  /*margin-left: 1524px;*/
  padding: 0;

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #{"@theme_fg_color"};
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough {
  	border-radius: 12px;
  	min-height: 12px;
  	background: alpha(@background-alt,0.5);
  	box-shadow: 0px 0px 3px alpha(#000, 0.2);
  	margin-right: 12px;
  	margin-left: 20px;
  }
  segment {
    min-height: inherit;
    border-radius: 0;
    border: none;
    background: #{"alpha(@theme_fg_color, 0.5)"};
  }
  progress,
  
  segment.active {
    min-height: inherit;
    border-radius: 0;
    border: none;
    background: #{"@theme_fg_color"};
  }

  segment {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}
