* {
    font-family: "Adwaita Sans", monospace;
    font-size: 14px;
    line-height: 1;  /* More space between lines */
    padding: 3px;
}

wofi {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

item {
    padding: 5px; /* More padding around the text */
    margin: 4px 0;
    border-radius: 8px;
}

item.selected {
    background-color: #BB86FC;  /* Highlighted item */
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow on selected item */
}

item:hover {
    background-color: #6200EE;  /* Hover effect */
    color: #000;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow on hover */
}

window {
    margin: 40px;
    background-color: alpha(#1e1e2e, 0.9);
    border: 2px solid #505050;
    border-radius: 6px;
}

#input {
    margin: 5px;
    padding: 5px;
    background-color: alpha(#101010,0.3);
    color: #CCC;
    border-radius: 4px;
    border: 1px solid #505050;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#inner-box {
    margin: 5px;
    /*background-color: rgba(255, 255, 255, 0);*/
    border-radius: 4px;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#entry {
    padding: 5px;
    border-radius: 8px;
    color: #CCC;
}

#entry:selected {
    background: linear-gradient(to bottom, #d9ecff, #a9cfff);
    color: #003366;
    border: 1px solid #66aaff;
}

