@define-color text #222;
@define-color selected #1071db;
@define-color hover alpha(@selected,.4);
@define-color background-sec #e4e7ef;
@define-color background-alt #A0A0A0;
@define-color urgent #f63c3a;
@define-color background #e4e7ef;
@define-color foreground #202020;

* {
    font-family: "SF Pro", monospace;
    font-size: 14px;
    line-height: 1;  /* More space between lines */
    padding: 3px;
}

window {
    padding: 40px;
    background-color: transparent;
}

#input {
    margin: 5px;
    padding: 5px;
    background: alpha(@background-alt,0.5);
    color: #222;
    border-radius: 12px;
    border: 1px solid @background-alt;
    box-shadow: 0px 0px 3px alpha(#000,0.15);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}


#outer-box {
  background: alpha(@background, .70);
  border-radius: 24px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
}

#entry {
    padding: 5px;
    border-radius: 8px;
    color: #222;
}

#entry:selected {
    background: @selected;
    color: #fff;
}

