@define-color background_box alpha(#101010,0.3);
@define-color background_active_box alpha(#5A72A1,0.3);
@define-color border_active_box #3A3F64;
@define-color border_box #505050;
@define-color default_text #DDDDDD;

* {
	font-family: Fira Code Nerd Font;
	font-size: 20px;
	min-width: 40px;
	color: @default_text;
	border-radius: 0px;

}

window#waybar {
	border-radius: 0px;
 	background-color: alpha(#1e1e2e,0.8);
 	border: 2px solid @border_box;
	margin: -4px -8px -8px -8px;
}

#network, #mpris, #bluetooth, #wireplumber, #battery, #clock, #power-profiles-daemon, #cpu, #memory, #tray, #backlight, #custom-launcher, #custom-power, #custom-wallpaper, #custom-spotify, #custom-clipboard {
   	background-color: @background_box;
   	border: 1px solid #aaaaaa;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
	border-radius: 0px;
    margin-left: 6px;
    margin-right: 6px;

}
#battery.charging, #clock:hover, #network:hover, #wireplumber:hover, #power-profiles-daemon:hover, #battery:hover, #backlight:hover, #mpris.playing, #workspaces button.active{
   	background-color: @background_active_box;
	border: 1px solid #66aaff;
}

tooltip {
   	background-color: @background_box;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
}

tooltip label{
	font-family: Adwaita;
	font-size: 18px;
}

#tray {
	padding-bottom: 16px;
	padding-top: 16px;
	margin-bottom: 6px;
}

/* Group Right 1 */
#network, #power-profiles-daemon {
	min-height: 40px;
    margin-bottom: 6px;
    padding-right: 6px;
}

#battery, #wireplumber, #backlight {
	min-height: 60px;
	margin-bottom: 6px;
}



/* Group Top */

#clock {
	border: 0.1rem solid @border_box;
   	background-color: @background_box;
	min-height: 60px;
}


#mpris {   	
	font-size: 18px;
	padding-top: 16px;

	padding-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
}


#workspaces {
   	background-color: @background_box;
    border: 1px solid @border_box;
	margin-left: 6px;
	margin-right:6px;
	margin-top: 6px;
	padding-top:8px;

	margin-bottom: 6px;
	font-size: 18px;
	padding-bottom: 6px;
	border-radius: 0px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

#workspaces button {
	padding-left: 0px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}
#workspaces button:hover {
   	background-color: @background_active_box;
}


