* {
	font-family: Fira Code Nerd Font;
	/*font-family: Source Code Pro; */
	font-size: 20px;
	min-width: 40px;

	transition-property: all;

}

@define-color background_box rgba(80,80,80,0.1);
@define-color background_active_box rgba(120, 120, 180, 0.35);

@define-color border_box #808080; /* border and shadow color */


window#waybar {
 	background: alpha(@theme_base_color,0.6);
    border: 3px solid #505050;
	border-radius: 0px;
}

tooltip {
	background: alpha(@theme_base_color,0.5);
	border: 2px solid @border_box;
	/*box-shadow: inset -1 -2px @border_box;*/
	border-radius: 0px;

}
tooltip label{
	font-family: Source Code Pro;
	font-size: 18px;
	font-weight: 200;
	color: #000000;
}


/* Group Right 1 */
#network {
   	background-color: @background_box;
   	
	border: 2px solid @border_box;
	
    border-radius: 0px 0px 0px 0px;
    border-bottom: 0px transparent;
	min-height: 50px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: -10px;
}
#bluetooth {
   	background-color: @background_box;
   	
	border: 2px solid @border_box;
	min-height: 50px;
    border-radius: 0px 0px 0px 0px;

    border-top: 0px transparent;

    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 4px;

}

#battery {
	border: 2px solid @border_box;
   	background-color: @background_box;

	border-top: 0px transparent;

	border-radius: 0px 0px 0px 0px;
	min-height: 80px;


	margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 10px;
}

#wireplumber {
	border: 2px solid @border_box;
   	background-color: @background_box;

    border-radius: 0px 0px 0px 0px;

    border-bottom: 0px transparent;
	min-height: 80px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
} 
#backlight {
	border: 2px solid @border_box;
   	background-color: @background_box;

    border-radius: 0px 0px 0px 0px;

    border-top: 0px transparent;
    border-bottom: 0px transparent;
   
    margin-left: 6px;
    margin-right: 6px;
}

#battery.charging {
	background-color: @background_active_box;
}


/* Group Top */

#clock {
	border: none;
	background: transparent;
	min-height: 80px;
    margin-right: 6px;
    margin-left: 6px;
    font-weight: Bold;
}

#mpris {
	border: 2px solid @border_box;

   	background-color: @background_box;
   	
    border-radius: 0px;
	font-size: 18px;
	margin-top: -4px;
    margin-left: 6px;
    margin-right: 6px;

    padding-top:8px;

	transition-delay: 0s;
	transition: 0.5s;
}

#mpris.playing {
	background-color: @background_active_box;
}


#workspaces {
	font-size: 18px;
}

#workspaces button {
	margin-left: -9px;
	margin-right: -6px;
	border-radius: 0px;


	color: @background_active_box;

	transition-delay: 0s;
	transition: 0.2s;
}

#workspaces button:hover {
    background: @background_active_box;


}


#workspaces button.active {	
	color: #000000;
	/*background-color: @background_active_box;*/
	margin-top:8px;
	font-size:30px;
	margin-bottom: 8px;
}
