* {
	font-family: Fira Code Nerd Font;
    color: @theme_text_color;;
	/*font-family: Source Code Pro; */
	font-size: 22px;
	min-height: 40px;
	
}

window#waybar {
 	background: alpha(@theme_base_color,0.4);
	border-radius: 10px;
	/*box-shadow: 4px 4px 2px 1px #101010;*/
	border: 1px solid #888888;
}

tooltip {
	background: alpha(@theme_base_color,0.5);
	border: 1px solid rgb(60,60,60);
	border-radius: 18px;

}
tooltip label{
	font-family: Source Code Pro;
	font-size: 18px;
}


/* Group Right 1 */
#network {
	border: 1px solid #888888;
   	background-color: rgba(255, 255, 255, 0.05);
   	   	
	
    border-radius: 0px 6px 6px 0px;
    border-left: 0px transparent;

    margin-top: 6px;
    margin-bottom: 6px;
}
#bluetooth {
	border: 1px solid #888888;
   	background-color: rgba(255, 255, 255, 0.05);
   	
    border-radius: 6px 0px 0px 6px;

    border-right: 0px transparent;

    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20px;

}

/* Group Right 2 */
#battery {
	border: 1px solid #888888;
   	background-color: rgba(255, 255, 255, 0.05);
	
	border-left: 0px transparent;

	border-radius: 0px 6px 6px 0px;


	margin-right: 6px;
	
    margin-top: 6px;
    margin-bottom: 6px;
}

#backlight {
	border: 1px solid #888888;
   	background-color: rgba(255, 255, 255, 0.05);
	   	
    border-radius: 6px 0px 0px 6px;

    border-right: 0px transparent;

    margin-top: 6px;
    margin-bottom: 6px;
    
    margin-left: 10px;
} 
#wireplumber {
	border: 1px solid #888888;
   	background-color: rgba(255, 255, 255, 0.05);
   	
    border-radius: 0px 0px 0px 0px;

    border-right: 0px transparent;
    border-left: 0px transparent;
   
    margin-top: 6px;
    margin-bottom: 6px;
}

#battery.charging {
	border-left: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(120, 120, 180, 0.5);
}


/* Group Center */

#clock {
	border: none;
	background: transparent;
	
    margin-top: 6px;
    margin-bottom: 6px;
}


/* Group Left */
#mpris {
	border: 1px solid #888888;

   	background-color: rgba(255, 255, 255, 0.05);
   	
    border-radius: 6px 6px 6px 6px;

	font-size: 18px;

   	margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#mpris.playing {
	border: 1px solid rgb(60,60,60);

	background-color: rgba(120, 120, 180, 0.5);
}
