.background {
	font-family: Fira Code Nerd Font;
	font-size: 20px;
	min-width: 40px;
	
	border-radius: 0px;
		
 	background: rgba(255,255,255,0.7);
    border: 2px solid #FFFFFF;
}

@define-color background_box rgba(80,80,80,0.15);
@define-color background_active_box rgba(120, 120, 180, 0.35);
@define-color border_box rgba(80,80,80,0.2);
