:root {
  --tab-block-margin: 2px !important;
  --toolbarbutton-border-radius: 16px !important;
  --tab-border-radius: 8px !important;
}

menupopup {
  --panel-background: #dad7d0 !important;
  --panel-padding: 10px 0 !important;
}
menupopup > menuitem,
menupopup > menu {
  padding-block: 3px !important;
}
#context-navigation:not([hidden]) {
  padding: 0 0 2px !important;
}
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}
#context-navigation,
#context-sep-navigation {
  display:none !important;
}

#back-button,
#forward-button {
  display: none !important;
}

.tab-background[selected] {
  box-shadow: none !important;
  border-radius: 8px !important;
}

#alltabs-button {
	display: none !important;
}

#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon{
	width: 0px !important;
	padding: 0px !important;
}
