* {
	border: none;
	border-radius: 12px;
	/*font-family: Fira Code Nerd Font; */
	font-family: Source Code Pro;
	font-size: 20px;
	min-height: 30px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.3);
	/* border-radius: 0px 0px 20px 20px; */
	border-radius: 0px 0px 0px 0px;

	border-bottom: 2px solid rgba(150, 150, 150, 0.5);

}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	transition: none;

    color: transparent;
	background: transparent;
}


window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}


#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #7c818c;
}



#workspaces {
	margin-left: 12px;
	margin-bottom: 0;
	background: transparent;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #ffffff;
	background: transparent;
	font-size: 10px;
}

#workspaces button.focused {
	color: #9aedfe;
	font-size: 18px;
}



#network {
	transition: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 0px 10px 10px 0px;

    border-left: 0px transparent;

    margin-top: 3px;
    margin-bottom: 5px;
}
#bluetooth {
	
	transition: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px 0px 0px 10px;

    border: 1px solid rgba(100, 114, 125, 0.5);
    border-right: 0px transparent;

	margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 20px;

}
#battery {
	background-color: rgba(0, 0, 0, 0.15);

    border: 1px solid rgba(100, 114, 125, 0.5);
	border-left: 0px transparent;

	border-radius: 0px 10px 10px 0px;


	margin-right: 20px;
	margin-bottom: 5px;
	margin-top: 3px;

    color: white;
}

#backlight {
	transition: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px 0px 0px 10px;

    border: 1px solid rgba(100, 114, 125, 0.5);
    border-right: 0px transparent;

	margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 10px;
} 
#wireplumber {
    transition: none;
   	color: #ffffff;
   	background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 0px 0px;

    border: 1px solid rgba(100, 114, 125, 0.5);
    border-right: 0px transparent;
    border-left: 0px transparent;
   
   	margin-bottom: 5px;
    margin-top: 3px;
}

#battery.charging {
	background-color: rgba(0, 125, 0, 0.3);
}

#clock {
	transition: none;
	color: #ffffff;
	background: transparent;
}
#mpris {
    transition: none;
   	color: #ffffff;
   	background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 10px 10px;

	font-size: 16px;
    border: 1px solid rgba(100, 114, 125, 0.5);

   	margin-left: 16px;
   	margin-bottom: 5px;
    margin-top: 3px;
}
