@define-color text #303030;
@define-color selected #1071db;
@define-color hover alpha(@selected,.6);
@define-color background-sec #e4e7ef;
@define-color background-alt #A0A0A0;
@define-color urgent #f63c3a;
@define-color background #e4e7ef;
@define-color foreground #202020;

* {
  all: unset;
  font-family: SF Pro;
  transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, .70);
  border: 1px solid #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification {
  color: @text;
  box-shadow: 0 0 4px alpha(#000,0.4);
  border: 1px solid #fff;
  border-radius: 16px;
  background-color: @background;
}

.control-center .control-center-list .notification-group,
.control-center .control-center-list .notification-group .notification-row,
.control-center .control-center-list .notification-group .notification-background {
  box-shadow: none;
}

.control-center .notification-row .notification-background {
  background-color: transparent;
  border-radius: 16px;
  margin: 4px 0px;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  color: @text;
  border-radius: 12px;
  margin: 6px;
}
.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 16px;
  color: @text;
  margin: 0px;
  padding: 4px;
}


/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover {
	background: @selected;
	color: @background;
	
}
.notification-group-close-all-button:hover {
  background: @urgent;
  color: @background;
}  

  /* Notification clear button */
.widget-title {
  font-size: 1.4em;
  margin: 12px;
  color: @text;
  font-weight: bold;

}

.widget-title button {
  background: alpha(@background-alt,0.3);
  border-radius: 6px;
  color: #fff;
  padding: 2px 12px;
}

.widget-title button:hover {
  background-color: alpha(@urgent,.5);
}

.widget-title button:active {
  background-color: @urgent;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
  color: alpha(@text,0.5);
}

.widget-dnd > switch {
  background: alpha(@background-alt,0.5);
  font-size: initial;
  border-radius: 16px;
  box-shadow: none;
  margin-right: 8px;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: #fff;
  border-radius: 16px;
}


  /* Music player */
.widget-mpris {
    background: transparent;
    color: @text;
    margin:  12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}
 
.widget-mpris button {
  margin: 4px;
  color: transparent;
  margin-top: -20px;
}

.widget-mpris-album-art {
  border-radius: 8px;
  margin-right: 12px;
  box-shadow: 0px 0px 8px alpha(#000, 0.2);
}
 
.widget-mpris-title {
    font-size: 1.3rem;
    font-weight: bold;
}
 
.widget-mpris-subtitle {
    font-size: 1rem;
}

picture.mpris-background {
  opacity: 0;
}

/* Volume */
.widget-volume,.widget-backlight {
  color: @text;
  font-size: 1.4em;
  padding-left: 12px;
  margin: 6px;
  border-radius: 12px;
}
.widget-volume highlight,
.widget-backlight highlight {
  margin: 0;
  box-shadow: 0px 0px 6px alpha(#000,0.3);
  background-color: white;
  border-radius: 12px;
}

.widget-volume trough,
.widget-backlight trough {
  border-radius: 12px;
  min-height: 12px;
  background: alpha(@background-alt,0.5);
  box-shadow: 0px 0px 3px alpha(#000, 0.2);
  margin-right: 12px;
  margin-left: 20px;
}

.widget-label {
  font-size: 1.6em;
  color: @text;
  font-weight: bold;
  margin-left: 16px;
  margin-top: 12px;
}
